.container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid hsl(25, 100%, 94%);
  height: 90px;
  padding: 0 10px;

  a {
    text-decoration: none;
  }
}

.icon-menu,
.icon-close-menu {
  display: none;
}

.logo {
  width: 138px;
  height: 20px;
  margin-right: 20px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;

  li {
    padding: 0 20px;

    .active {
      color: hsl(220, 13%, 13%);
      border-bottom: 2px solid hsl(26, 100%, 55%);
    }
  }

  a {
    color: hsl(219, 9%, 45%);
    padding-bottom: 34px;

    &:hover {
      color: hsl(220, 13%, 13%);
      border-bottom: 2px solid hsl(26, 100%, 55%);
    }
  }
}

.cart {
  margin-right: 20px;
  margin-left: auto;
  position: relative;
  cursor: pointer;

  img {
    height: 30px;
    width: 32px;
  }

  .total {
    background-color: hsl(26, 100%, 55%);
    font-size: 12px;
    color: hsl(0, 0%, 100%);
    padding: 0 6px;
    border-radius: 10px;
    top: 0;
    left: 18px;
    position: absolute;
  }
}

.avatar {
  width: 42px;
  height: 42px;
  margin-left: 10px;
  border: 2px solid hsl(26, 100%, 55%);
  border-radius: 50%;
  cursor: pointer;
}

.cart-menu {
  position: absolute;
  width: 300px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 100%);
  right: 10px;
  top: 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  .title {
    font-weight: bold;
    padding: 10px;
    border-bottom: 1px solid hsl(25, 100%, 94%);
  }

  .empty {
    height: 100px;
    padding: 10px;
    color: hsl(220, 14%, 75%);
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 991px) {
  .container {
    height: 60px;
  }

  .icon-menu {
    display: block;
    margin-right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
  }
  .icon-close-menu {
    display: inherit;
    margin-left: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
  }

  .menu {
    display: none;

    li {
      padding: 15px 20px;
      font-weight: 700;

      .active {
        color: hsl(220, 13%, 13%);
        border-bottom: none;
      }

      a {
        &:hover {
          border-bottom: none;
        }
      }
    }
  }

  .show {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    width: 190px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding-top: 20px;
  }

  .cart > img {
    width: 22px;
    height: 24px;
  }

  .avatar {
    height: 32px;
    width: 32px;
    margin-left: 10px;
  }
}

// Orange: hsl(26, 100%, 55%)
// Pale orange: hsl(25, 100%, 94%)

// Very vark blue: hsl(220, 13%, 13%)
// Dark grayish blue: hsl(219, 9%, 45%)
// Grayish blue: hsl(220, 14%, 75%)
// Light grayish blue: hsl(223, 64%, 98%)
// White: hsl(0, 0%, 100%)
